<div class="home" ng-controller="homeController">
    <div class="jumbotron">
        <header class="header-content">
            <div class="main container">
                <div class="col-lg-2" style="display: flex">

                    <h1 style="padding-left:4px;">
                        Who What Where
                    </h1>

                    <div style="flex: 50%;text-align: right;">
                        <a href="http://www.foursquare.com"><i style="font-size:24px" title="Four Square" class="fa">
                            &#xf180;</i></a>
                        <a href="http://www.yelp.com"><i style="font-size:24px" title="Yelp" class="fa">&#xf1e9;</i></a>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="container">
        <div class="row row-centered">
            <div class="container-fluid">
                <h1>Search for anything</h1>

                <h2 style="color:#1C2C3A">Find the best places to eat, drink, shop, or visit in any city in the
                    world.</h2><br/><br/>
            </div>
        </div>
        <div class="row">
            <div class="container-fluid">
                <form class="form-inline">
                    <div class="form-group">
                        <div class="input-group" style="padding-bottom:10px;">
                            <input type="text" class="search-input" ng-model="term" placeholder="Enter search term">
                            <input type="text" class="search-input" ng-model="area" placeholder="Enter locality"/>
                            <i style="font-size:20px" class="fa" title="Get your location" ng-click="getLocation()">
                                &#xf124;</i>

                            <button type="button" class="searchButton" value="Show"
                                    ng-click="showResult()">Search
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="img-responsive container-fluid" id="googleMap" style="width:100%; height:75%;"></div>
        </div>
        <div class="flexContainer">
            <div ng-repeat="search in queryData" class="detail-container">
                <div class="detail-child">
                    <img ng-src="{{search.image}}"/>
                    <span>{{search.name}}</span></br>
                    <span ng-if="search.contact.phone"><i style="font-size:24px" class="fa">&#xf10b;</i>{{search.contact.phone}}</span></br>
                    <span><i style="font-size:24px" class="fa">&#xf005;</i>{{search.rating}}</span>
                </div>

            </div>
        </div>
    </div>
</div>