.main-color {
    background-color: #25D366 !important;
}

input {
    font-size: 20px;
}

.home {
    background: url('http://blog.hdwallsource.com/wp-content/uploads/2014/11/cute-blur-wallpaper-26341-27032-hd-wallpapers.jpg') no-repeat center center fixed;
    background-size: cover;
}

.card .card-title {
    font-size: 20px !important;
    font-weight: bold !important;
}

.card .card-content {
    padding: 0 !important;
}

.card .card-content .card-title {
    line-height: 90% !important;
}

.card.small {
    height: 25% !important;
}

.card .card-reveal {
    padding: 10px !important;
}

#term, #locality {
    color: #FFF;
    font-size: 24px;
}

p {
    font-size: 12px;
}

i {
    margin-right: 5px;
}

.btn {
    width: 30%;
}